[submodule "understand-trending-infra"]
	path = understand-trending-infra
	url = https://github.com/quick-starters/understand-trending-infra
[submodule "load-test"]
	path = load-test
	url = https://github.com/quick-starters/load-test
[submodule "performance-monitoring"]
	path = performance-monitoring
	url = https://github.com/quick-starters/performance-monitoring
[submodule "redis"]
	path = redis
	url = https://github.com/quick-starters/redis
[submodule "redis-study"]
	path = redis-study
	url = git@github.com:quick-starters/redis-study.git
